@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

/* 초기화 */
*, *::before, *::after{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
html{
  font-size: 10px;
}
body{
  font-size: 1.4rem;
  margin: 0;
  color: #181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
}
.header, .visual, .main-content, .slogan, .footer{
  margin: 0 auto;
  width: 940px;
}
.header{
  box-sizing: border-box;
  background-color: pink;
  position: relative;
  height: 200px; /*임시*/
}
/* 로고 */
.logo{
  margin: 0;
  position: absolute;
  top: 50px;
  left: 70px;
}
/* 멤버링크 */
.member{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  background-color: yellow;
}
.member li{
  display: inline;
  background-color: aqua;
  width: 100px;
}
.visual{
  background-color: lime;
  height: 120px;
}
.main-content{
  min-height: 400px;
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}
.group{
  background-color: yellow;
}
.group1{
  flex-basis: 250px;
  /*flex-grow: 2;
  flex-shrink: 1;
  flex: 50px 2 1;*/
  background-color: orange;
}
.group2{
  flex-basis: 380px;
  /*flex-grow: 1;*/
  background-color: lime;
}
.group3{
  flex-basis: 190px;
  /*flex-grow: 2;*/
}
.slogan{
  background-color: orange;
  padding: 15px 0;
}
.footer-bg{
  background-color: silver;
  padding: 15px 0;
}
.footer{
  background-color: yellow;
}