@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./fontello.css');

/* 초기화 */
*, *::before, *::after{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
/*숨김 콘텐츠*/
.a11y-hidden, legend, .readable-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
}
html{
  font-size: 10px;
}
body{
  font-size: 1.4rem;
  margin: 0;
  color: #181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  background: gray;
}
.header, .visual, .main-content, .slogan, .footer{
  margin: 0 auto;
  width: 940px;
}
.header{
  box-sizing: border-box;
  background-color: pink;
  position: relative;
  padding: 0px 30px 50px 30px;
}
/* 로고 */
.logo{
  margin: 0;
  position: absolute;
  top: 45px;
  left: 70px;
  /* z-index: 10; */
}
/* 멤버링크 */
.member{
  list-style-type: none;
  margin: 0;
  padding: 2px 0;
  font-size: 0; /*기존에는 14px 상속, 이렇게하면 공백문자와 li가 상속*/
  text-align: right;
  position: relative;
  right: -10px
}
.member li{
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
/*.member li::before{ 
  background-color: orange;
  content: '\f142'; 
  font-family: "fontello";
}*/
.member li:nth-child(n+2)::before{
  font-family: "fontello";
  content: '\f142';
}
.member a{
  padding: 8px 10px;
  display: inline-block;
}
/* 매안 메뉴 */
.menu{
  /* position: relative; */
  background-color: #DD680F;
  background-image: linear-gradient(to bottom, #e5c62d 0%,#DD680F 35%,#DD680F 70%,#e5c62d 100%);
  padding-left: 225px;
  list-style: none;
  margin: 5px 0 0 0;
  border-radius: 0 0 5px 5px;
  /* border-top: 2px solid black; */
  box-shadow: 0 -2px 2px 0 #000;
  /* height: 45px; */
  /* overflow: auto; */
}
.menu::after{
  content: "";
  background-color: lime;
  clear: both;
  display: block;
}
.menu-item{
  float: left;
  position: relative;
  /* padding: 0 20px; */
  /* padding: 10px 0; */
}
.menu-act .btn-menu{
  color: #ff0 !important;
  /* border-bottom: 2px solid #000; */
}
.btn-menu{
  /* background-color: yellow; */
  display: block;
  height: 45px;
  line-height: 45px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  padding: 0px 20px;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0px -1px 0 #000, 0px 1px 0 #000;
}
.menu-act .btn-menu::after{
  content: "";
  /* background-color: blue; */
  display: block;
  border-top: 2px solid #000;
}
.sub-menu{
  padding-left: 0;
  list-style: none;
  margin: 0;
  background-color: yellow;
  position: absolute;
  display: none;
  /* width: 500px; */
  white-space: nowrap;
}
.sub-menu li, .sub-menu1 a{
  display: inline-block;
}
.sub-menu1 a{
  padding: 10px 0;
  margin-right: 10px;
}
.menu-act .sub-menu{
  display: block;
  /* left: 0; */
  top: 47px;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}
/* 비주얼 */
@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0,0,0,0);
    /* padding: 0; */
    /* margin; 0; */
    /* top: 0;
    left: 0; */
    transform: translate(0,0);
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    /* padding: 75px 0 0 400px; */
    /* margin: 75px 0 0 400px; */
    /* top: 75px;
    left: 400px; */
    transform: translate(400px,75px);
  }
}
@keyframes bgAni{
  0%{ opacity: 1; }
  100%{ opacity: 0; }
}
.visual{
  background-color: lime;
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{ 
  content: "";
  width: 100%;
  height: 100%;
  position: absolute; /*인라인이므로 변경시킴*/
  /* animation-name: bgAni;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-play-state: paused; */
  animation: bgAni 2000ms 1000ms infinite alternate ease-in-out;
}
.visual::before{
  /* background-color: silver;
  background-image: url('./images/ani_flower_01.png'), url('./images/ani_flower_02.png');
  background-repeat: no-repeat;
  background-position: 0 -10px, 670px 0; */
  background: url('./images/ani_flower_01.png') no-repeat 0 -10px, url('./images/ani_flower_02.png') no-repeat 670px 0;
}
.visual::after{
  /* background-color: aqua; */
  background: url('./images/ani_flower_03.png') no-repeat 300px 0, url('./images/ani_flower_04.png') no-repeat 800px 15px;
  animation-delay: 1000ms;
}
.visual-text{
  position: absolute;
  background-color: yellow;
  animation-name: textAni;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.main-content{
  min-height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

/* .group{
  background-color: yellow;
} */
.group1{
  flex-basis: 250px;
  /*flex-grow: 2;
  flex-shrink: 1;
  flex: 50px 2 1;*/
  /* background-color: orange; */
}
.group2{
  flex-basis: 380px;
  /*flex-grow: 1;*/
  /* background-color: lime; */
}
.group3{
  flex-basis: 190px;
  /*flex-grow: 2;*/
}
/* 로그인 */
.login{
  background: #DD680F radial-gradient(circle at right top, #e5c62d, #DD680F);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #666;
}
.login-heading{
  margin: 0;
  text-indent: 10px;
  font-size: 1.5rem;
  color: #ff0;
}
.login-form{
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
}
.login-form fieldset{
  border: 0;
  padding: 0 0 10px 0;
  position: relative;
  /* background-color: yellow; */
  border-bottom: 1px solid #aaa;
}
.login-form label{
  /* background-color: pink; */
  width: 4em;
  display: inline-block;
}
.login-form input{
  /* background-color: skyblue; */
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.user-pw{
  margin-top: 6px;
}
.btn-login{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #e5c62d;
  background: #DD680F;
  padding: 0;
  color: #fff;
  border-radius: 3px;
  font: inherit;
}
.sign{
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
}
.sign li{
  /* background-color: yellow; */
  font-size: 1.3rem;
}
.sign li::before{
  color: #DD680F;
}
/* .login-form, .sign{
  background-color: #fff;
  margin: 0 10px;
} */
/* .login-heading{
  color: #e5c62d;
}
label{
  display: inline-block;
}
#user-id, #user-pw{
  display: inline-block;
}
fieldset{
  border: 0;
}
.btn-login{
  background-color: #DD680F;
  color: #fff;
  background-color: #DD680F;
}
.sign{
  margin: 0 0 0 10px;
  padding: 0;
  background-color: red;
  list-style-type: none;
} */
/* 유효성 검사 배너 */
.validation-list{
  /* background-color: yellow; */
  list-style-type: none;
  padding-left: 0;
  margin: 25px 0 20px 0;
}
.validation-list li{
  margin: 10px 0;
}
.validation-list a{
  background: url('./images/validation_icon.png') no-repeat 20px 50%, linear-gradient(#ccc, #eee) repeat 0 0;
  display: block;
  border: 1px solid #aaa;
  border-radius: 30px;
  padding: 8px 0 8px 45px;
}
/* 여기는 내가해본 유효성 검사 */
/* .validation-list{
  margin: 20px 0;
  list-style-type: none;
  padding: 0;
}
.validation-list li{
  margin: 10px 0;
}
.validation-list a{
  display: block;
  padding-left: 20px;
  background-color: gray;
  background-image: url('./images/validation_icon.png'), linear-gradient(to bottom, #c6c6c6 1%,#e5e5e5 100%);
  background-repeat: no-repeat;
  border: 1px solid silver;
  border-radius: 15px;
  line-height: 30px;
}
.validation-list a:hover{
  color: red;
} */

/* 웹 관련 용어 - 내가 해본건 20190910 메모 맨 뒤에 있음*/
.term{
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
}
.term-heading{
  /* background-color: yellow; */
  margin: 0;
  font-size: 1.5rem;
}
.term-list{
  /* background-color: yellow; */
  margin: 10px 0 0 0;
}
.term-list-subject{
  color: #296897;
}
.odd::after{
  content: "";
  clear: both;
  display: block;
}
.odd .term-list-thumbnail, .odd .term-list-brief{
  margin: 0;
}
.odd .term-list-subject, .odd .term-list-brief{
  /* background-color: pink; */
  float: right;
  width: 145px;
}
.odd .term-list-subject{
  margin: -2px 0 5px 0;
}
.odd .term-list-thumbnail{
  /* background-color: lime; */
  float: left;
}
.odd .term-list-thumbnail img{
  vertical-align: top;
}
.odd .term-list-brief{
  /* background-color: orange; */
  line-height: 1.5;
}
.odd{
  margin: 0 0 15px 0;
}
/* even */
.even::after{
  content: "";
  clear: both;
  display: block;
}
.even .term-list-thumbnail, .even .term-list-brief{
  margin: 0;
}
.even .term-list-subject, .even .term-list-brief{
  /* background-color: pink; */
  float: left;
  width: 145px;
}
.even .term-list-subject{
  margin: -2px 0 5px 0;
}
.even .term-list-thumbnail{
  /* background-color: lime; */
  float: right;
}
.even .term-list-thumbnail img{
  vertical-align: top;
}
.even .term-list-brief{
  /* background-color: orange; */
  line-height: 1.5;
}

/* 검색 폼 */
.search-form{
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 15px 25px 10px;
  border: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 15px 15px 0 0 ;
}
.search-form fieldset{
  /* background-color: yellow; */
  border: 0;
  margin: 0;
  padding: 0;
  /* display:flex; 
  flex-direction: row;(어차피 기본값)*/
}
label[for="search"], .search-form input, .btn-search{
  vertical-align: middle;
  /*
  display: inline-block;
  justify-content: space-between; */
}
input[type="search"]{
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  width: 200px;
  border-radius: 3px;
  margin: 0 2px;
}
.btn-search{
  background: #121212;
  color: #fff;
  font: inherit;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0 10px;
  height: 24px;
  font-size: 1.3rem;
}

/* 검색 폼 내가해보는 거 */
/* .search-form{
  background-color: yellow;
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px 1px 0 1px solid #aaa;
  border-radius: 15px 15px 0 0;
  height: 50px;
  font-size: 1.4rem;
  line-height: 1.15;
}
.search-form fieldset{
  border: 0;
  margin: 0;
  padding: 0;
  padding: 17px 30px 12px 30px;
}
.search-form label{
}
.search-form input{
  display: inline-block;
  width: 200px;
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  padding: 0;
}
.btn-search{
  padding: 0;
  display: inline-block;
  width: 40px;
  background-color: #181818;
  color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  font-size: 1.2rem;
  vertical-align: top;
} */

/* 공지사항/자료실 */
.board{
  background-color: yellow;
  position: relative;
}
.board ul, .board .more{
  display: none;
}
.tab-act ul, .tab-act .more{
  display: block !important;
}
.notice-heading, .pds-heading{
  margin: 0;
  font-weight: 400;
  font-size: 1em; /* 1.4상속 받은거 1배이므로 1.4rem하고 같다 */
  background-color: skyblue;
  position: absolute;
  top: 0;
}
.notice-heading{
  left: 0;
}
.pds-heading{
  left: 74px;
}
.tab{
  display: block;
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  color: #666;
}
.tab-act .tab{
  color: #DD680F;
  border-color: #DD680F #DD680F #fff #DD680F;
  background: #fff;
}
.board ul{
  background: pink;
  margin: 20px 0;
  padding: 45px 0 0 0; /*margin주면 겹친다는걸 배웠음*/
  list-style: none;
}
.board li{
  background: lime;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}
.board li a{
  background: silver;
  width: 270px;
  /* width: 100%; */
  /* margin-left: auto; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board time{
  background: orange;
  justify-content: flex-end;
  margin-left: auto;
  /* float: right; */
}
.board .more{
  background-color: skyblue;
  position: absolute;
  top: 0;
  right: 0;
}
.more::before{
  color: hsla(110, 70%, 20%, 1);
}
/* 내가 해보는 공지사항/자료실1 */
/* .notice{
  position: relative;
}
.board h2{
  background: #ccc linear-gradient(#ccc, #eee);
  margin: 0;
  display: inline-block;
}
.pds-heading{
  position: absolute;
}
.notice-more{
  position: absolute;
  padding-left: 300px;
}
.board .more{
  background-color: skyblue;
}
.board ul{
  margin: 0;
  padding-left: 0;
  list-style-type: none;
} */
/* .notice-heading, .pds-heading{
  background: #ccc linear-gradient(#ccc, #eee);
  margin: 0;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(56, 55, 55);
  padding: 10px;
  border: 1px solid silver;
  border-radius: 3px 3px 0 0;
  position: absolute;
} */
/* .notice-list, .pds-list{
  background-color: pink;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  display: block;
  clear: both;
} */
/* .notice-list li{
  display: flex;
  flex-direction: row;
}
.notice-list a, .notice-list time{
  background-color: lime;
  justify-content: space-between;
} */
/* .notice-more, .pds-more{
  background-color: skyblue;
  position: absolute;
} */
/* 내가 해보는 새소식 */
.new{
  /* background-color: yellow; */
  position: relative;
}
.new::after{
  content: "";
  clear: both;
  display: block;
}
.new-heading{
  /* background-color: lime; */
  margin: 0;
  padding: 15px 0 15px 0;
  width: 310px;
  font-size: 1.5rem;
  color: #DD680F;
  border-bottom: 1px solid;
  border-image: linear-gradient(45deg, #666 0%, #eee 100%) 1;
  /* border-style: solid; */
  /* border-image-slice: 1; */
}
.new-list{
  background-color: skyblue;
}
.new dd{
  margin-left: 0;
}
.new-list-subject{
  /* background-color: silver; */
  margin: 0;
  padding-top: 23px;
  width: 250px;
  float: right;
  font-weight: 700;
  font-size: 1.4rem;
  /* padding-bottom: 10px; */
}
.new-list-time{
  /* background-color: teal; */
  float: right;
  width: 250px;
  /* display: inline-block; */
  /* clear: both; */
  padding: 5px 0 10px 0;
}
.new-list-thumbnail{
  /* background-color: blue; */
  position: absolute;
  padding-top: 23px;
  width: 115px;
  text-align: center;
  margin: 0;
  /* display: inline-block; */
}
.new-list-thumbnail img{
  box-shadow: 0 10px 10px 0 #888;
  margin-bottom: 20px;
}
.new-list-brief{
  /* background-color: purple; */
  margin: 0;
  float: right;
  width: 250px;
  line-height: 1.5;
}
.new-more{
  /* background-color: orange; */
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 13px
}
.new-more::before{
  color: hsla(110, 70%, 20%, 1);
}

.slogan{
  background-color: orange;
  padding: 15px 0;
}
.footer-bg{
  background-color: silver;
  padding: 15px 0;
}
.footer{
  background-color: yellow;
}