@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./fontello.css');

/* 초기화 */
*, *::before, *::after{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
/*숨김 콘텐츠*/
.a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
}
html{
  font-size: 10px;
}
body{
  font-size: 1.4rem;
  margin: 0;
  color: #181818;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
}
.header, .visual, .main-content, .slogan, .footer{
  margin: 0 auto;
  width: 940px;
}
.header{
  box-sizing: border-box;
  background-color: pink;
  position: relative;
  padding: 0px 30px 50px 30px;
}
/* 로고 */
.logo{
  margin: 0;
  position: absolute;
  top: 50px;
  left: 70px;
}
/* 멤버링크 */
.member{
  list-style-type: none;
  margin: 0;
  padding: 2px 0;
  font-size: 0; /*기존에는 14px 상속, 이렇게하면 공백문자와 li가 상속*/
  text-align: right;
  position: relative;
  right: -10px
}
.member li{
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
/*.member li::before{ 
  background-color: orange;
  content: '\f142'; 
  font-family: "fontello";
}*/
.member li:nth-child(n+2)::before{
  font-family: "fontello";
  content: '\f142';
}
.member a{
  padding: 8px 10px;
  display: inline-block;
}
/* 매안 메뉴 */
.visual{
  background-color: lime;
  height: 120px;
}
.main-content{
  min-height: 400px;
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}
.group{
  background-color: yellow;
}
.group1{
  flex-basis: 250px;
  /*flex-grow: 2;
  flex-shrink: 1;
  flex: 50px 2 1;*/
  background-color: orange;
}
.group2{
  flex-basis: 380px;
  /*flex-grow: 1;*/
  background-color: lime;
}
.group3{
  flex-basis: 190px;
  /*flex-grow: 2;*/
}
.slogan{
  background-color: orange;
  padding: 15px 0;
}
.footer-bg{
  background-color: silver;
  padding: 15px 0;
}
.footer{
  background-color: yellow;
}